.section3 {
  overflow-y: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(0deg, rgb(87 117 173) 0%, rgb(42, 96, 156) 100%);
  background-size: cover;
  color: white;

  h2 {
    text-transform: uppercase;
    font-size: 3.2vw;
  }

  p {
    font-size: 1.3rem;
    margin-bottom: 40px;
  }

  &Gallery {
    display: flex;
    gap: 50px;
    justify-content: center;
  }

  // Animation
  .fadeIn {
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }

  .show {
    transform: none;
    opacity: 1;
  }
}
