// Remove This Hidden Later
// .bottom {
//   visibility: hidden;
// }

// Animation
.two {
  .top-left,
  .bottom-left {
    transform: translateX(-200px);
  }
  .top-right,
  .bottom-right {
    transform: translateX(200px);
  }
  .top-right,
  .bottom-left {
    transition-delay: 0.5s;
  }
  .fade-in {
    // transform: translateX(var(--translate-x));
    opacity: 0;
    transition-duration: 1s;
    transition-property: transform, opacity;
    transition-timing-function: ease-in-out;
  }
  .text {
    transition-delay: 0.9s;
  }
  .show {
    transform: translateX(0px);
    opacity: 1;
  }
}

// General Styles
.two {
  display: grid;
  grid-template-rows: 350px 350px;
  justify-content: center;
  min-height: 100vh;
  color: white;
  padding: 20px;
  background: linear-gradient(
    180deg,
    rgb(63, 107, 191) 0%,
    rgb(42, 96, 156) 95%,
    rgb(57, 102, 151) 100%
  );
  // linear-gradient(0deg, rgb(255, 244, 227) 0%, rgb(3 55 113) 100%);
}

.top {
  display: flex;
  &-left {
    flex: 6;
    display: flex;
    justify-content: end;
  }
  &-right {
    flex: 4;
  }
}

.bottom {
  display: flex;
  text-align: right;
  &-left {
    flex: 4;
  }
  &-right {
    flex: 6;
  }
}

.top,
.bottom {
  gap: 30px;
  img {
    height: 300px;
    border-radius: 6px;
  }
  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1;
  }
  p {
    font-size: 1.1rem;
    max-width: 32ch;
  }
}
