.btn {
  color: white;
  text-transform: uppercase;
  text-align: center;
  background-color: orangered;
  border-radius: 50px;
  // Q: fixed width for button? 🤔
  width: 200px;
  border: none;
  padding: 10px 0;
  font-weight: bold;
}
