body {
  margin: 0;
  font-family: "Poppins", serif;
}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

.App {
  min-width: 960px;
  margin: 0 auto;
  /* background-color: rgb(255, 207, 207); */
  perspective: 300px;
  overflow-y: scroll;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}
